<% if @game.any? %>
  <% @game.each do |game| %>
  <% if user_signed_in? %>
      <% if current_user.has_joined?(game) %>
        <%= link_to 'Leave Game', game_join_path(game, game.joined_by(current_user)), method: :delete %>
      <% else %>
        <%= link_to 'Join Game', new_game_join_path(game) %>
      <% end %>
      <% end %>

    <h2> <%= link_to game.name, game_path(game) %></h2>
  <% end %>
<% else %>
  No games yet
<% end %>

<%= link_to 'Add a Game', new_game_path %>